#game {
    width: 1004px;
    height: 600px;
    margin: auto;
    transition-delay: 2s;
    transition-duration: 2s;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#gm1,
#gm2 {
    float: left;
    display: table;
}

#info {
    height: 100%;
    width: 60%;
    border: 2px solid rgb(32, 32, 32);
    margin: auto;
    margin-top: 500px;
    background-color: black;
}

canvas {
    margin: 0px;
    padding: 0px;
    border: 1px solid #d3d3d3;
    background-color: black;
    width: 500px;
    height: 500px;
}

.pressToStart {
    margin: auto;
    width: 1000px;
}

body {
    background-color: black;
}

p,
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#prgbar1{
    display: none;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 22px;
    background-color: white;
}
#prgbar2{
    display: none;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 22px;
    background-color: white;
}

#prg1{
    border-bottom: 20px solid rgb(100, 25, 25);
    margin: 0px;
    width: 100%;
}

#prg2{
    border-bottom: 20px solid black;
    margin: 0px;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: rgb(0, 0, 0);
    padding-left: 20px;
}

.settings {
    width: 95%;
    margin-left: 5%;
}

.section {
    width: 49%;
    display: table;
    float: left;
}

*{
    color:  #f1f1f1;
}
  
button {
    display: table;
    float: left;
    width: 110px;
    height: 30px;
    color: #f1f1f1;
    border-color: white;
    border-radius: 5px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoTable{
    margin-bottom: 20px;
}

#retry {
    display: none;
    position: absolute;
    width: 40%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 10%;
    margin-left: 30%;
    transition-delay: 2s;
    z-index: 5;
}

h2,
h3,
h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form>input {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    height: 30px;
    background-color: black;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

.changelog>p{
    margin-left: 50px;
    padding-bottom: 0px;
    padding-top: 20px;
}

.info>h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(37, 37, 37);
    text-align: left;
    padding-left: 100px;
}

li {
    color: black;
    font-size: 20px;
    font-weight: 550;
    padding-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.line {
    border-top: 1px dotted black;
    width: 92%;
}

.linebig {
    border-top: 2px dashed black;
    width: 98%;
    margin: 20px 0px 20px 0px;
    margin: auto;
}

table {
    width: 90%;
}

p>i {
    padding-left: 80px;
}

table,
td {
    border: 1px solid rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    padding: 10px 20px 10px 20px;
}